.background-container {
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
    display: flex;
    
}

.bg-item {
    width: 33.34vw;
    height: 100vh;
}

.bg-clr-1 {
    background-color: #EBEFF8;
}

.bg-clr-2 {
    background-color: #BDE4DF;
}

.bg-clr-3 {
    background-color: #9BDBCD;
}
.inkomst-container{
    width: 100%;
    height: 100%;
    background-color:  #f4f7fc;
    position: relative;
    z-index: 1;
 
}

.newthing{
    background-color: aqua;
}
