@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body{
    margin: 0;
}

.pie-container{
height: 100vh;
}

.chart-wrapper{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.pie-container{
    display: flex;
}
.pie-container > .title h1{
    justify-content: center;
}