@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto Slab", serif;
}

.center {
  text-align: center;
}

.hero-background-image {
  background-image: url("/assets/images/startpage.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-general {
  margin: 1em;
}
.row.hero-row {
  padding-top: 3em;
}
.clr-blue {
  color: #414bb2;
}
.main-header {
  font-size: 3.5em;
  margin: 1em 0em;
}

.frame {
  padding: 20px;
  border-radius: 25px;
  background: #fdfdffdb;
  box-shadow: 42px 42px 84px #cacacc, -42px -42px 84px #ffffff;
}

.read-more {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10%;
  transition: 0.3s;
}

.read-more:hover {
  color: #c96929;
}

.login-form {
  width: 50vw;
  top: 20%;
  padding: 2em;
  background-color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 6;
  background-color: white;
  opacity: 1;
}

.login-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.login-view-toggle {
  visibility: visible;
  opacity: 1;
}

.icon-close {
  display: block;
  text-align: right;
}

.form-group {
  margin: 1em;
}

/**********     INKOMST STYLE *********/

@media (min-width: 2560px) {
  .frame {
    margin-top: 15em;
  }
  .read-more > i {
    font-size: 4em;
  }
  .read-more > h3 {
    font-size: 4em;
  }
}

.logo i {
  margin: auto;
}

/* info-start */
.info-start div {
  display: grid;
  grid-template-areas: 
  "salespitch" 
  "video" 
  "idea" 
  "why-us" ;
  height: 30em;
}
.info-salespitch{
  grid-area: salespitch;
  background-color: #9BDBCD;
  /* z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center; */
 
}

.info-salespitch-text-container {
  background-color:RGBA(215,186,159,0.30) ;
  position:absolute;
height: 200px;
width: 50%;
 top:40% ;
 left: 20px;
 padding: 25px;
 border-radius: 15px;
 text-align:justify;
}
.info-salespitch-image{
  height: 10em;
  width: 10em;
}

.info-video{
  grid-area: video;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  background-color: #BDE4DF;
  z-index: 9;
 
}
.info-idea{
  grid-area: idea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  position: relative;
  text-align: left;
  z-index: 8;

}
.info-idea img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.idea-text-container{

  background-color:RGBA(215,186,159,0.30) ;
  position:absolute;
height: 200px;
width: 50%;
 top:40% ;
 left: 20px;
 padding: 25px;
 border-radius: 15px;
 text-align:justify;
}
.idea-text-container h4{
  font-size: 48px;
  color: black;
  
}
.idea-text-container p{
  font-size: 22px;
  color: black;
  
}
.info-why-us{
  grid-area: why-us;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: #9BDBCD;
  position: relative;
  /* text-align: left; */
  height: 50em; 
  z-index: 7;
  
}
.why-text-container{
  color: black;
  position:absolute;
  top: 20%;
  left: 10%; 
}
.why-text-container h3{         
font-size:56px ;
margin-bottom: 20px;
}
.why-text-container ul{
  font-size: 35px;
}
.trustpilot-widget{
  position:absolute;
  top:20%;
  right: 10%;
}
.trustpilot-widget img{
  border-radius: 15px;
}

/* #cus-div{
  width: 100%;
  position: relative;
}

#cus-div:after{
  position: absolute;
  width: 100%;
  height: 100%;
  background:inherit;
  z-index: -1;
  bottom:0;
  content: ''; */
}
/* 
.info-salespitch:after{
  transform-origin: left bottom;
  transform: skewY(3deg);
}
.info-video:after{
  
}
.info-idea:after{
  
}
.info-why-us:after{
  
} */