@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto Slab", serif;
}

.center {
  text-align: center;
}

.hero-background-image {
  background-image: url("/assets/images/startpage.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-general {
  margin: 1em;
}
.row.hero-row {
  padding-top: 3em;
}
.clr-blue {
  color: #414bb2;
}
.main-header {
  font-size: 3.5em;
  margin: 1em 0em;
}

.frame {
  padding: 20px;
  border-radius: 25px;
  background: #fdfdffdb;
  box-shadow: 42px 42px 84px #cacacc, -42px -42px 84px #ffffff;
}

.read-more {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10%;
  transition: 0.3s;
}

.read-more:hover {
  color: #c96929;
}

.login-form {
  width: 50vw;
  top: 20%;
  padding: 2em;
  background-color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 6;
  background-color: white;
  opacity: 1;
}

.login-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.login-view-toggle {
  visibility: visible;
  opacity: 1;
}

.icon-close {
  display: block;
  text-align: right;
}

.form-group {
  margin: 1em;
}

/**********     INKOMST STYLE *********/

@media (min-width: 2560px) {
  .frame {
    margin-top: 15em;
  }
  .read-more > i {
    font-size: 4em;
  }
  .read-more > h3 {
    font-size: 4em;
  }
}

.logo i {
  margin: auto;
}

/* info-start */
.info-start{
  display: grid;
  grid-template-areas: 
  "salespitch"
  "video"
  "idea"
  "why-us";
  /* height: 50em;
  width: 100vw; */
  
}
.info-salespitch{
  
  grid-area: salespitch;
  background-color: #9BDBCD;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.info-salespitch-image{
  height: 10em;
  width: 10em;
}
.info-salespitch-text-container{
  background-color: RGBA(255,255,255,0.30);
  /* position: absolute; */
  height: 15vh;
  width: 30vw;
  top: 40%;
  left: 10vw;
  padding: 25px;
  border-radius: 15px;
  text-align: justify;
  font-size: 22px;
}

.info-video{
  grid-area: video;
  background-color: #BDE4DF;
  z-index: 9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.info-idea{
  grid-area: idea;
  position: relative;
  text-align: left;
  /* z-index: 8; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* 
.info-idea img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
} */
.idea-text-container{

  background-color: RGBA(215,186,159,0.30);
  position: absolute;
  width: 30vw;
  top: 40%;
  left: 10vw;
  padding: 25px;
  border-radius: 15px;
  text-align: justify;
}
#idea-btn{
  background-color: rgba(255, 184, 0, 0.5);
  /* margin-left: 260px; */
}
.idea-text-container h4{
  font-size: 48px;
  color: black;
  
}
.idea-text-container p{
  font-size: 22px;
  color: black;
  
}
.info-why-us{
  grid-area: why-us;
  background-color: #9BDBCD;
  position: relative;
  /* text-align: left; */
  height: 40em; 
  z-index: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.why-text-container{
  color: black;
  top: 20%;
  left: 10%; 
}
.why-text-container h3{         
font-size:56px ;
margin-bottom: 20px;
}
.why-text-container ul{
  font-size: 35px;
}
.trustpilot-widget{
 
  top:20%;
  right: 10%;
}
.trustpilot-widget img{
  border-radius: 15px;
}



.cus-div {
  position: relative;
  width: 100%;
  height: 70vh;
}

#skew1 {
  background-color: #9BDBCD;
  z-index: 9;
}

#skew2 {
  background-color: #BDE4DF;
  z-index: 8;
}

#skew3 {
  background: #fafaf8;
  background-position: center bottom;
  z-index: 7;
  height: 78vh;
}

#skew4 {
  background-color: #9BDBCD;
  z-index: 6;
}

.cus-div:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  z-index: -1;
  bottom: 0;
  content: "";
}

#skew3:after {
  background: url(../images/Johanna.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  z-index: 7;
  height: 70vh;
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: -1;
  bottom: 0;
  content: "";
}

#skew1:after,
#skew3:after,
#skew4:after {
  transform-origin: left bottom;
  transform: skewY(5deg);
}

#skew2:after,
#skew4:after {
  transform-origin: right bottom;
  transform: skewY(-5deg);
}

#skew4:after {
  transform-origin: bottom;
  transform: skewY(0deg);
}



/* 
.info-video::before, .info-video::after{
 background-color: #9BDBCD;
  content: '';
  display:block;
  height: 30%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 20;
  -webkit-backface-visibility: hidden; 
}
.info-video::before {
  top: 160vh;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    z-index: 20;
}

.info-video::after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
} */

/* #cus-div{
  width: 100%;
  position: relative;
}

#cus-div:after{
  position: absolute;
  width: 100%;
  height: 100%;
  background:inherit;
  z-index: -1;
  bottom:0;
  content: ''; 
}*/
/* 
.info-salespitch:after{
  transform-origin: left bottom;
  transform: skewY(3deg);
}
.info-video:after{
  
}
.info-idea:after{
  
}
.info-why-us:after{
  
} */